**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/.idea/
**/.git/
**/.gitignore
**/Dockerfile
**/.dockerignore
*.log
backend/api.log
backend/api.err.log
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/.env
